

<footer>
		<div class="container">
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="https://github.com/gersterk">
									<i class="fab fa-github"></i>
									<span>Github</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="mailto:barisdogan.biz@gail.com">
									<i class="fab fa-google"></i>
									<span>Mail</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-medium"></i>
									<span>Medium</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="https://www.linkedin.com/in/barisdogan-biz">
									<i class="fab fa-linkedin"></i>
									<span>LinkedIn</span>
								</a>
							</li>
						</ul>

					</div>
				</div>
				<div class="w3layouts-agile-copyrightbottom">
					<p> <a href="/RegisterUser/Index">© @DateTime.Now.Year</a>
						<a href="/Login/Index">Gersterk</a>
					</p>

				</div>
			</div>

		</div>
	</footer>