

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Gersterk is a professional and personal web page | Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Personal blogs, professional projects" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

	</script>
	<link href="~/Theme/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="~/Theme/web/stylesheet" href="~/Theme/web/css/single.css">
	<link href="~/Theme/web/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/Theme/web/css/fontawesome-all.css" rel="stylesheet">
	<link href="~/Theme/web/fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<!--Header-->

	<header>
		@await Html.PartialAsync("_Header")

		@await Html.PartialAsync("_Navbar")
	</header>


	@RenderBody()

	@await Html.PartialAsync("_Footer")


</body>

</html>
