
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/adminTheme/img/userphotos/admin-photo.jpeg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Baris Dogan</span>
                    <span class="text-secondary text-small">Software Developer</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/index/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile/">
                <span class="menu-title">Profile</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter">
                <span class="menu-title">Blogs</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Shared/Components/CommentListByBlog">
                <span class="menu-title">Comments</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification">
                <span class="menu-title">Notification</span>
                <i class="mdi mdi-notification-clear-all large menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Resume </span>
                <i class="menu-arrow"></i>
                <i class="mdi mdimdi-file-document menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Project/ProjectListAll">
                <span class="menu-title">Projects</span>
                <i class="mdi mdi-notification-clear-all large menu-icon"></i>
            </a>
        </li>

         <a href = "/Project/ProjectAddNew" class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add Project<a/>
         <a href = "/Blog/BlogAddNew" class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add Blog<a/>


    
         <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile/" data-toggle="collapse" aria-expanded="false" aria-controls="general-pages" >
                <span class="menu-title">Settings </span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
      
        </li>

         <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/" >
                <span class="menu-title">Exit </span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-logout-variant menu-icon"></i>
            </a>
      
        </li>
    </ul>
</nav>