@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Index</h1>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Register Now</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form method="post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Name and surname</label>

                            <input type="text" class="form-control" id="validationdefault" name="WriterName" placeholder="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Mail adress</label>
                            <input type="email" class="form-control" id="validationdefault1" name="WriterMail" placeholder="" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            <input type="password" class="form-control" id="validationdefault2" name="WriterPassword" placeholder="" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Confirm Password</label>
                            <input type="password" class="form-control" id="validationdefault3" placeholder="" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Profile Image</label>
                            <input type="text" class="form-control" id="validationdefault4" name="WriterImage" placeholder="" required="">
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                    <p>
                        <a href="#">By clicking Signup, I agree to your terms</a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</section>