




<div class="tech-btm">
    <h4>Sign up to my newsletters</h4>
    @*<p></p>*@
    <form action="/Newsletter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>

@*
subscribe ettikten sonra beni buraya yonlendiriyor. yonlendirmezse de kayit almiyor bunu ajax ile cozerim.
ders39 5.dk*@