

<div class="tech-btm widget_social">
    <h4>Take a look</h4>
    <ul>

        <li>
            <a class="twitter" href="/Resume/Index">
                <i class="bi bi-node-plus-fill"></i>
                <span class="count"></span> Resume
            </a>
        </li>
        <li>
            <a class="facebook" href="/Project/Index">
                @*<i class="fab fa-facebook-f"></i>*@
                <span class="count"></span> Projects
            </a>
        </li>
        <li>
            <a class="dribble" href="/Blog/Index">
                @*<i class="fab fa-dribbble"></i>*@

                <span class="count"></span> Blogs
            </a>
        </li>

    </ul>
</div>