@{
    ViewData["Title"] = "DashbaordIndex";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h3>Resume</h3>
<br />
<br />

<div class="row">

    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-secondary card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/EditBusinessCard"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Business Card <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>

    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-warning card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/UpdateSkills"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Skills <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>

    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/UpdateSkills"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Interest <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>

    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-secondary card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/UpdateSkills"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Contact <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>


    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-secondary card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/ListExperience"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Experience <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>

    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/GetPorfolio"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Portfolio <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>

    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <a href="/Resume/UpdateSkills"</a>
                <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Portfolio <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>

            </div>
        </div>
    </div>





</div>