@model List<Portfolio>
@{
    ViewData["Title"] = "GetExperience";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="section px-2 px-lg-4 pt-5" id="portfolio">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Portfolio </h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="grid-sizer"></div>

            @foreach (var item in Model)
            {

                <div class="grid-item">
                    <a href="/Resume/EditPortfolio/@item.Id ">
                        <figure class="portfolio-item">
                            <img src="images/portfolio/1-small.png" data-bp="images/portfolio/1.jpg" /> @*image will be here later on *@
                            <figcaption>
                                <h4 class="h5 mb-0">@item.Name</h4>
                                <div>@item.SubName</div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
            <br />
            <br />
            <br />

            <a href="/Resume/AddPortfolio" class="btn btn-dark read-m">Create</a>
            <br />
        </div>
    </div>

</div>

