@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />
<br />

<h3>Notifications</h3>
<br />
<br />

<table class="table table-bordered ">
    <tr>
        <th>#</th>
        <th>Content</th>
        <th>Date</th>
    </tr>

    @foreach (var item in Model)
   {
       <tr>
           <td>@item.NotificationId</td>
           <td>@item.NotificationDetails</td>
           <td>@item.NotificationDate.ToShortDateString()</td>
       </tr>
   }
</table>

